.headWarpper {
  background-color: #fff;
  padding: 6px 20px 6px 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EBEDF0;
 }
 
 .link {
   line-height: 32px;
 }
 
 .arrow {
   font-size: 16px;
   cursor: pointer;
 }
 
 .title {
   color: #333;
   font-size: 16px;
   line-height: 22px;
   margin-left: 12px;
 }
 
 .exportBtn {
   font-size: 14px;
 }
 
 .userInfo {
   padding: 20px 0px 20px 24px;
   display: flex;
   background-color: #fff;
 }
 
 .userData {
   flex: 1;
   display: flex;
   flex-wrap: wrap;
 
   .itemWarpper {
     width: 50%;
     flex-shrink: 0;
     line-height: 60px;
   }
 
   .infoTitle {
     color: #999;
   }
 }
 
 .blockWarpper {
   display: flex;
 
   .blickItem {
     width: 120px;
     height: 120px;
     background: #F8F8F8;
     text-align: center;
     margin-right: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: #666;
 
     .time {
       font-size: 32px;
       color: #333;
     }
 
     .score {
       font-size: 32px;
       color: #219653;
     }
   }
 
   .timeScore {
     display: inline-block;
     width: 100%;
   }
 }

 .callScoreWarpper {
   margin-top: 15px;
   background: #fff;
   padding: 40px;
 }

 .paper-exerciseItem {
  margin-bottom: 40px;
}

.paper-exerciseTitle {
  color: #333;

  .paper-exerciseIndex {
    font-size: 18px;
    line-height: 22px;
  }

  .title {
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
  }

  .paper-exerciseScore {
    color: #999;
    font-size: 14px;
    margin: 0 10px;
  }
}

.examContent {
  padding-top: 22px;

  .studentAnswer {
    width: 540px;
    background: #F5F5F5;
    color: #666;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    padding: 6px 12px;
  }

  :global {
    .ant-input {
      width: 540px;
      height: 40px;
      margin-top: 10px;
    }
  }
}